<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>A&AA.hu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/reszletes.css'>
</head>

<body>
    <section class="">
        <div id="myHeader" class="header">
            <a href="javascript:void(0)" class="openbtn" onclick="openNav()">☰</a>
            <a href="hasznaltauto.html" class="active">Főoldal</a>

            <div class="lxr" id="lxr">
                <!--Gombok helye-->
            </div>
        </div>
        <div id="mySidebar" class="slidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/">Főoldal</a>
            <a href="/hasznaltauto">Hasznaltautók</a>
            <a href="/bonto">Használt alkatrészek</a>
        </div>
    </section>

    <!--hasznaltauto reszletek kezd-->

    <div>
        <h2>Eladó alighasznált NEM LOPOTT vadonat új FAKé TAKSZI </h2>
    </div>

    <!--képek-->
    <div class="kozepre">
        <div class="container">

            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img class="imgnagy" src="../mondeo1.jpg">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img class="imgnagy" src="../audi.jpg">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img class="imgnagy" src="../mondeo1.jpg">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img class="imgnagy" src="../audi.jpg">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img class="imgnagy" src="../mondeo1.jpg">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img class="imgnagy" src="../audi.jpg">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images -->
            <div class="row">
                <div class="column">
                    <img class="demo cursor" src="../mondeo1.jpg" style="width:100%" onclick="currentSlide(1)">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../audi.jpg" style="width:100%" onclick="currentSlide(2)">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../mondeo1.jpg" style="width:100%" onclick="currentSlide(3)">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../audi.jpg" style="width:100%" onclick="currentSlide(4)">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../mondeo1.jpg" style="width:100%" onclick="currentSlide(5)">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../audi.jpg" style="width:100%" onclick="currentSlide(6)">
                </div>
            </div>
        </div>
    </div>


    <!--képek-->

    <div class="infok">

        <div>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Ár:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Vételár:
                        </td>
                        <td>
                            <strong>
                                <div>
                                    x Ft
                                </div>
                            </strong>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>
                            Jármű adatai:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Évjárat:
                        </td>
                        <td>
                            <strong>
                                2020/6
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kivitel:
                        </td>
                        <td>
                            <strong>
                                Sedan
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Km. óra állás:
                        </td>
                        <td>
                            <strong>
                                XNXX km
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Üzemanyag:
                        </td>
                        <td>
                            <strong>
                                Hibrid (Benzin)
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hengerűrtartalom:
                        </td>
                        <td>
                            <strong>
                                X cm³
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Teljesítmény:</td>
                        <td>
                            <strong>
                                X kW, X LE
                            </strong>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <div>
                        <tr>
                            <th>
                                Leírás:
                            </th>
                        </tr>
                        <tr>
                            <td>
                                leírás
                            </td>
                        </tr>
                    </div>
                </tbody>
                <tbody>
                    <tr>
                        <th>
                            Eladó adatai:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            eladási hely
                        </td>
                        <td>
                            <strong>
                                debrecen
                            </strong>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            telefonszám
                        </td>
                        <td>
                            <strong>
                                +36706358635
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            E-mail cím
                        </td>
                        <td>
                            <strong>
                                anyadvok07@gmail.com
                            </strong>
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
    </div>
    </div>
    <!--hasznaltauto reszletek vege -->


    <script src="/reszletes.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>
</body>

</html>